<section class="services">
    <div class="container">
        <div class="services__inner">
            <div class="title services__title" >
                <h6 class="sub-title services__sub-title animation-text animation-text--center">AWESOME WORKS</h6>
                <h2 class="extra-title services__extra-title animation-text animation-text--center">Our Creative Works.</h2>
            </div>
            <div class="services__items">
                <div class="services__item" onmouseenter="servicesActive(event)" >
                    <div class="services__item-img services__item-img--laptop" data-aos="fade-right"></div>
                    <div class="services__item-title"><h3 class="animation-text animation-text--center">INTERFACE DESIGN</h3></div>
                    <div class="services__item-text"><p class="animation-text animation-text--center">Implementation and rollout of new network infrastructure, including consolidation.</p></div>
                </div>
                <div class="services__item services__item--active" onmouseenter="servicesActive(event)">
                    <div class="services__item-img services__item-img--lightbulb"  data-aos="fade-up"></div>
                    <div class="services__item-title"><h3 class="animation-text animation-text--center">CREATIVE ALWAYS</h3></div>
                    <div class="services__item-text"><p class="animation-text animation-text--center">Implementation and rollout of new network infrastructure, including consolidation.</p></div>
                </div>
                <div class="services__item" onmouseenter="servicesActive(event)">
                    <div class="services__item-img services__item-img--presentation"  data-aos="fade-left"></div>
                    <div class="services__item-title"><h3 class="animation-text animation-text--center">REAL-TIME EDITING</h3></div>
                    <div class="services__item-text"><p class="animation-text animation-text--center">Implementation and rollout of new network infrastructure, including consolidation.</p></div>
                </div>
            </div>
        </div>
    </div>
</section>