<section class="about-us">
    <div class="container">
        <div class="about-us__inner">
            <div class="about-us__quotes">
                <div class="about-us__quote">
                    <h2 class="about-us__quote-title animation-text">Помогаем создать сайт вашей мечты</h2>
                    <p class="about-us__quote-subtitle  animation-text">Узнайте о нас больше</p>
                </div>
                <div class="about-us__quote">
                    <p class="about-us__quote-text animation-text">Мы никогда не недооцениваем проект, всегда уделяем большое внимание срокам и всем мелочам</p>
                    <a class="about-us__quote-subtitle animation-text" href="#">Посмотрите</a>
                </div>
            </div>
            <div class="about-us__info">
                <h3 class="about-us__info-title  animation-text animation-text--center">Начните прямо сейчас</h3>
                <h4 class="about-us__info-subtitle  animation-text animation-text--center">Хотите с нами работать?</h4>
                <p class="about-us__info-text  animation-text animation-text--center">Тут нужно придумать текст или убрать этот блок</p>
                <div class="about-us__info-items">
                    <div class="about-us__info-item">
                        <p class="about-us__info-item-numb  animation-text"><span>+</span>20</p>
                        <p class="about-us__info-item-text  animation-text">Лет <br> опыта</p>
                    </div>
                    <div class="about-us__info-item">
                        <p class="about-us__info-item-numb  animation-text"><span>+</span>10</p>
                        <p class="about-us__info-item-text  animation-text">Команд</p>
                    </div>
                    <div class="about-us__info-item">
                        <p class="about-us__info-item-numb  animation-text"><span>+</span>3k</p>
                        <p class="about-us__info-item-text  animation-text">Сделанно <br> проектов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>