<section class="testimonials">
    <div class="container">
        <div class="testimonials__inner">
            <div class="testimonials__title-wrapper" >
                <h2 class="testimonials__title animation-text animation-text--center">TESTIMONIALS</h2>
                <h3 class="testimonials__subtitle  animation-text animation-text--center">What They Say ?</h3>
            </div>
            <div class="testimonials__sliders">
                <div class="testimonials__slider-img-wrapper" data-aos="fade-right">
                    <div class="testimonials__slider-img">
                        <div class="testimonials__item-img"><img src="images/place.jpg" alt="testimonials"/>
                        </div>
                        <div class="testimonials__item-img"><img src="images/place.jpg" alt="testimonials"/>
                        </div>
                        <div class="testimonials__item-img"><img src="images/place.jpg" alt="testimonials"/>
                        </div>
                    </div>
                </div>
                <div class="testimonials__slider-text-wrapper" >
                    <div class="testimonials__slider-text" >
                        <div class="testimonials__item">
                            <div class="testimonials__comment">
                                <div class="testimonials__text"><p class="animation-text">Veri nice site 1! Veri nice site 
                                    Veri nice site Veri nice site Veri nice site</p>
                                </div>
                                <div class="testimonials__name"><p class="animation-text">john Smitt</p></div>
                            </div>
                        </div>
                        <div class="testimonials__item">
                            <div class="testimonials__comment">
                                <div class="testimonials__text"><p class="animation-text">Veri nice site 2! Veri nice site 
                                    Veri nice site Veri nice site Veri nice site</p>
                                </div>
                                <div class="testimonials__name"><p class="animation-text">john Smit</p></div>
                            </div>
                        </div>
                        <div class="testimonials__item">
                            <div class="testimonials__comment">
                                <div class="testimonials__text"><p class="animation-text">Veri nice site 3! Veri nice site 
                                    Veri nice site Veri nice site Veri nice site </p>
                                </div>
                                <div class="testimonials__name"><p class="animation-text">john Smit</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>