<section class="gallery">
    <div class="gallery__nav">
        <button class="gallery__nav-club-home gallery__nav-club--active">КЛУБНЫЙ ДОМ</button>
        <button class="gallery__nav-club-rezedence">КЛАБ РЕЗИДЕНС</button>
        <div class="gallery__nav-controls">
            <div class="gallery__nav-control-dots">
                <ul>
                    <li class="slick-active"><button></button></li>
                    <li><button></button></li>
                    <li><button></button></li>
                    <li><button></button></li>
                    <li><button></button></li>
                </ul>
            </div>
            <div class="gallery__nav-control gallery__nav-control--left">
                <svg width="52" height="9" viewBox="0 0 52 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4.41605L4.37051 7.83211L4.37051 4.41605L4.37051 1L1 4.41605Z" fill="#757575"/>
                    <path d="M51.3474 4.41606C45.7444 4.41606 1 4.41605 1 4.41605M1 4.41605L4.37051 7.83211L4.37051 1L1 4.41605Z" stroke="#757575" stroke-width="0.683211"/>
                </svg>                    
            </div>
            <div class="gallery__nav-control gallery__nav-control--right">
                <svg width="51" height="9" viewBox="0 0 51 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.3474 4.41598L46.9769 0.999922L46.9769 4.41598L46.9769 7.83203L50.3474 4.41598Z" fill="#757575"/>
                    <path d="M-1.49321e-07 4.41598C5.60302 4.41598 50.3474 4.41598 50.3474 4.41598M50.3474 4.41598L46.9769 0.999922L46.9769 7.83203L50.3474 4.41598Z" stroke="#757575" stroke-width="0.683211"/>
                </svg>                    
            </div>
        </div>
    </div>
    <div class="gallery__slider">
        <div class="gallery__slide gallery__club-home">
            <div class="gallery__slide__for gallery__club-home__for">
                <img class="gallery__slide__for-img" src="../../images/gallery1big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
            </div>
            <div class="gallery__slide__nav gallery__club-home__nav">
                <img class="gallery__slide__nav-img gallery__slide__nav-img--active" src="../../images/gallery1.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
            </div>
        </div>
        <div class="gallery__slide gallery__club-rezedence">
            <div class="gallery__slide__for gallery__club-rezedence__for">
                <img class="gallery__slide__for-img" src="../../images/gallery1big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
                <img class="gallery__slide__for-img" src="../../images/gallery2big.jpg" alt="home">
            </div>
            <div class="gallery__slide__nav gallery__club-rezedence__nav">
                <img class="gallery__slide__nav-img gallery__slide__nav-img--active" src="../../images/gallery1.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
                <img class="gallery__slide__nav-img" src="../../images/gallery2.jpg" alt="home">
            </div>
        </div>
    </div>
</section>