<section class="our-work">
    <div class="container">
        <div class="our-work__inner">
            <h2 class="our-work__title  animation-text animation-text--center" >Лучшие работы</h2>
            <h3 class="our-work__subtitle  animation-text animation-text--center" >Наши креативные работы</h3>
            <div class="our-work__items">
                <article class="our-work__item">
                    <img class="our-work__item-img" src="images/place.jpg" alt="our work" data-aos="fade-right">
                    <div class="our-work__item-info">
                        <a class="our-work__item-mark  animation-text" href="#"><span class="fas fa-tags"></span>WORDPRESS</a>
                        <div class="our-work__item-name  animation-text">Do You Need a Business Coach or a New Brand?</div>
                        <a class="our-work__item-link  animation-text" href="#">KNOW MORE</a>
                    </div>
                </article>
                <article class="our-work__item">
                    <img class="our-work__item-img" src="images/place.jpg" alt="our work" data-aos="fade-left">
                    <div class="our-work__item-info">
                        <a class="our-work__item-mark  animation-text animation-text" href="#"><span class="fas fa-tags"></span>WORDPRESS</a>
                        <div class="our-work__item-name  animation-text animation-text">Do You Need a Business Coach or a New Brand?</div>
                        <a class="our-work__item-link  animation-text animation-text" href="#">KNOW MORE</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>