<section class="review">
    <div class="review__inner">
        <div class="slider-container">
            <div class="slider-control left inactive"> <span class="fas fa-chevron-left"></span></div>
            <div class="slider-control right"><span class="fas fa-chevron-right"></span></div>
            <ul class="slider-pagi"></ul>
            <div class="slider__numb">
                <div class="slider__numb-now">1</div>
                <div class="slider__numb-all">3</div>
            </div>
            <div class="slider">
                <div class="slide slide-0 active">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <div class="slide__text">
                            <h1 class="review__name-site review__animation-text" >Time Of Site</h1>
                            <h2 class="slide__text-heading  review__animation-text" >Решение для вашего бизнеса</h2>
                            <p class="slide__text-desc  review__animation-text" >В данном уроке мы рассмотрим полноэкранный страничный слайдер с
                                анимированными</p>
                            <a class="slide__text-link  review__animation-text" >Читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="slide slide-1 ">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <div class="slide__text">
                            <h2 class="slide__text-heading  review__animation-text">Заголовок</h2>
                            <p class="slide__text-desc  review__animation-text">Параллакс это достаточно полезный прием к которому прибегают
                                разработчики своих ресурсов, красивая анимация помогает привлечь взор посетителя, кроме
                                этого интерактивные движение весьма оживляют ресурс.</p>
                            <a class="slide__text-link  review__animation-text">Читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="slide slide-2">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <div class="slide__text">
                            <h2 class="slide__text-heading  review__animation-text">Заголовок</h2>
                            <p class="slide__text-desc  review__animation-text">После небольшого перерыва мы возвращаемся к работе. В данном
                                уроке мы рассмотрим и покажем, как создать замечательное радужное меню для сайта, с
                                активным выбором вкладок.</p>
                            <a class="slide__text-link  review__animation-text">Читать далее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



