.gallery{
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
    background-color:  #FDFBFB;
    background-image: url('../../images/bg-gallery.png');
    background-repeat: no-repeat;
    background-size: 31% 58.936%;
    background-position: 12px 222px;
    &__nav{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 520px;
        background: #FDFBFB;
        box-shadow: 0px 5px 60px rgba(55, 55, 55, 0.2);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        &-club{
            &-home{
                width: 320px;
                height: 45px;
                background: #F1F1F1;
                border: none;
                padding: 0;
                padding-right: 75px;
                text-align: right;
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 26px;
                color: #212224;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
            &-rezedence{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 26px;
                color: #212224;
                width: 200px;
                height: 45px;
                border: none;
                background: #F1F1F1;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                padding: 0;
            }
            &--active{
                background: #FDFBFB;
                color: #A68E52;
            }
        }
        &-controls{
            height: 55px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
        }
        &-control{
            cursor: pointer;
            &-dots{
                width: 320px;
                height: 100%;
                & ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                        button{
                            padding: 0;
                            font-size: 0;
                            border-radius: 50%;
                            background: #DDDDDD;
                            border: none;
                            width: 8px;
                            height: 8px;
                            transition: all 0.3s;
                            cursor: pointer;
                        }
                    }
                    & .slick-active{
                        button{
                            background: #A68E52;
                        }
                    }
                }
            }
            &--left{
                margin-left: 20px;
                margin-right: 25px;
            }
        }
    }
    &__slider{
        padding-left: 235px;
        height: 100%;
        min-width: 0;
        overflow: hidden;
    }
    &__slide{
        width: 100%;
        height: 100%;
        &__for{
            width: 100%;
            height: 690px;
            min-width: 0;
            &-container{
                width: 100%;
                height: 690px;
                min-width: 0;
            }
            &-img{
                width:100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__nav{
            height: 100px;
            width: 100%;
            overflow: hidden;
            min-width: 0;
            margin-top: -40px;
            margin-left: 305px;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            &-img{
                margin-right: 10px;
                width: 120px;
                height: 75px;
                transition: all 0.1s linear;
                &--active{
                    width: 165px;
                    height: 100px
                }
            }
            & .slick-list{
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: flex-end;
            }
            & .slick-track{
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: flex-end;
                left: 0 !important;
            }
            & .slick-slide{
                display: flex;
                justify-content: start;
                align-items: flex-end;
                & div{
                    height: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: flex-end;
                }
            }
        }
    }
}
@media(max-width: 1024px) {
    .gallery{
        background-size: 31% 58.936%;
        background-position: 8px 222px;
        height: max-content;
        &__nav{
            width: 100%;
            &-club{
                &-home{
                    width: 50%;
                    padding: 0 20px;
                }
                &-rezedence{
                    width: 50%;
                    padding: 0 10px;
                }
            }
            &-control{
                &--left{
                    margin-left: 5px;
                    margin-right: 15px;
                }
                &-dots{
                    width: 60%;
                }
            }
        }
        &__slider{
            padding-left: 40px;
        }
        &__slide{
            &__for{
                height: max-content;
                &-container{
                    height: 200px;
                }
            }
            &__nav{
                margin: 20px 0 110px 0;
            }
        }
    }
}

@media(max-width: 768px) {
    .gallery{
        background-size: 31% 58.936%;
        background-position: 8px 222px;
        height: max-content;
        &__nav{
            width: 100%;
            &-club{
                &-home{
                    width: 50%;
                    padding: 0 20px;
                }
                &-rezedence{
                    width: 50%;
                    padding: 0 10px;
                }
            }
            &-control{
                &--left{
                    margin-left: 5px;
                    margin-right: 15px;
                }
                &-dots{
                    width: 60%;
                }
            }
        }
        &__slider{
            padding-left: 40px;
        }
        &__slide{
            &__for{
                height: max-content;
                &-container{
                    height: 200px;
                }
            }
            &__nav{
                margin: 20px 0 110px 0;
            }
        }
    }
}

@media(max-width:400px){
    .gallery{
        background-size: 31% 58.936%;
        background-position: 8px 222px;
        height: max-content;
        &__nav{
            width: 100%;
            &-club{
                &-home{
                    width: 50%;
                    padding: 0 20px;
                }
                &-rezedence{
                    width: 50%;
                    padding: 0 10px;
                }
            }
            &-control{
                &--left{
                    margin-left: 5px;
                    margin-right: 15px;
                }
                &-dots{
                    width: 60%;
                }
            }
        }
        &__slider{
            padding-left: 40px;
        }
        &__slide{
            &__for{
                height: max-content;
                &-container{
                    height: 200px;
                }
            }
            &__nav{
                margin: 20px 0 110px 0;
            }
        }
    }
}
