.testimonials {
    padding: 60px 0;
}

.testimonials__inner {
    text-align: left;
    position: relative;
}

.testimonials__sliders {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonials__slider-img-wrapper,
.testimonials__slider-text-wrapper {
    overflow: hidden;
}

.testimonials__slider-text-wrapper {
    text-align: left;
    width: 448px;
}

.testimonials__slider-img {
    width: 350px;
    height: 400px;
    margin-right: 20px;
}

.testimonials__item-img {
    img {
        width: 350px;
        height: 400px;
    }
}

.testimonials__text {
    margin-bottom: 20px;
}

.testimonials__name {
    font-weight: 600;
}

.testimonials__comment {
    width: 450px;
}

.testimonials__arrows {
    position: absolute;
    right: 0;
    width: 35px;
    height: 45px;
    background-color: #fff;
    z-index: 2;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.testimonials__prev {
    bottom: 0;
}

.testimonials__next {
    bottom: 35px;
}

.testimonials__title-wrapper {
    position: absolute;
    top: 10px;
    left: 540px;
}