.layouts-documents{
    height: 1550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/bg-sales.png");
    padding: 40px 110px 80px 205px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.layouts{
    height: 630px;
    width: 100%;
    margin-bottom: 240px;
    &__title{
        margin-bottom: 40px;
        & h2{
            font-family: Cormorant;
            font-style: normal;
            font-weight: 500;
            font-size: 68px;
            line-height: 68px;
            text-align: left;
            color: #212224;
        }
    }
    &__container{
        width: 100%;
        height: 530px;
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.1);
    }
    &__nav{
        display: flex;
        justify-content: start;
        align-items: center;
        &-group{
            display: flex;
            justify-content: start;
            align-items: center;
            height: 44px;
            width: 10%;
            background-color:  #F1F1F1;
            &__title{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 26px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #212224;
                height: 100%;
                width: 100%;
                border: none;
                background: none;
                text-align: center;
                cursor: pointer;
                transition: all 0.7s;
            }
            &__elements{
                display: flex;
                justify-content: start;
                align-items: center;
                height: 100%;
            }
            &__element{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                color: #757575;
                opacity: 0.7;
                border: none;
                background: none;
                height: 100%;
                width: 0;
                padding: 0;
                overflow: hidden;
                text-align: center;
                cursor: pointer;
                &--active{
                    color: #212224;
                    opacity: 1;
                    transition: all 0.3s;
                }
            }
            &--active{
                background-color: #FFFFFF;
                width: 70%;
                transition: all 0.7s;
                & .layouts__nav-group__title{
                    color: #A68E52;
                    width: 20%;
                }
                & .layouts__nav-group__elements{
                    width: 80%;
                    transition: all 0.7s;
                }
                & .layouts__nav-group__element{
                    width: 20%;
                    padding: 0 15px;
                    transition: all 0.7s;
                }
            }
        }
    }
    &__content{
        padding: 40px 50px 0 55px;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }
    &__flat{
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.05);
        width: max-content;
        height: max-content;
        padding: 0 30px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-container{
            height: 386.33px;
        }
        &-title{
            font-family: Cormorant;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 68px;
            color: #212224;
            text-align: left;
            width: 100%;
        }
        &-plan{
            width: 20%;
            &-img{
                width: 100%;
                height: 100%;
            }
        }
        &-content{
            &-block{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            height: 105px;
            display: flex;
            justify-content: start;
            align-items: center;
            &:nth-of-type(1){
                padding-right: 30px;
                border-right: 0.5px solid #DDDDDD;
            }
            &:nth-of-type(2){
                padding-left: 30px;
            }
        }
        &-text{
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 26px;
            color: #757575;
            margin-right: 30px;
            &__value{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                color: #212224;
            }
        }
        &-contacts{
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            &__text{
                width: 50%;
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #757575;
            }
            &__phone{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #8A8A8A;
                padding-left: 3.5%;
                width: 50%;
            }
            &__tel{
                color:black;
            }
            &__btn{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #A68E52;
                border-bottom: 1px solid #A68E52;
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
    &__controls{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        padding-top: 5px;
        height: 55px;
        width: 100%;
        padding-left: 50%;
        &-arrow{
            display: flex;
            justify-content: start;
            align-items: center;
        }
    }
    &__control{
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &--left{
            margin-right: 25px;
        }
        &-dots{
            margin-right: 40px;
            display: flex;
            justify-content: start;
            align-items: center;
            & ul{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                    button{
                        padding: 0;
                        font-size: 0;
                        border-radius: 50%;
                        background: #DDDDDD;
                        border: none;
                        width: 8px;
                        height: 8px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }
                    &.slide-active{
                        button{
                            background: #A68E52;
                        }
                    }
                }
            }
        }
    }
}



.documents{
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        height: 100%;
        margin-bottom: 20px;
        width: 100%;
        h2{
            font-family: Cormorant;
            font-style: normal;
            font-weight: 500;
            font-size: 68px;
            line-height: 68px;
            text-align: left;
            color: #FDFBFB;
        }
    }
    &__container-text{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 65px;
        flex-wrap: wrap;
    }
    &__text{
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #DDDDDD;
        min-width: 320px;
        max-width: 30%;
        margin-right: 20px;
    }
    &__slider{
        width: 100%;
    }
    &__slide{
        width: 190px !important;
        height: 260px;
        margin-right: 50px;
        padding: 35px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #757575;
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            &-text{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                color: #757575
            }
        }
        &-container{
            padding-bottom: 20px;
            width: 100%;
            border-bottom: 0.5px solid #757575;
        }
        &-text{
            font-family: Cormorant;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #DDDDDD
        }
        &-footer{
            margin-top: 25px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-date{
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 26px;
            color: #757575;
        }
        &-downald{
            cursor: pointer;
        }
    }
    &__controls{
        width: 100%;
        margin-top: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__control{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &--left{
            margin-right: 25px;
        }
        &-dots{
            margin-right: 20px;
            & ul{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                    button{
                        padding: 0;
                        font-size: 0;
                        border-radius: 50%;
                        background: #DDDDDD;
                        border: none;
                        width: 8px;
                        height: 8px;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                }
                & .slick-active{
                    button{
                        background: #A68E52;
                    }
                }
            }
        }
    }
}

@media(max-width: 991px) {
    
}

@media(max-width: 768px) {
    .layouts-documents{
        padding: 10px 10px 60px 30px;
        height: max-content;
    }
    .layouts{
        height: max-content;
        &__title{
            & h2{
                font-size: 48px;
                line-height: 48px;
            }
        }
        &__container{
            height: max-content;
        }
        &__nav{
            height: 90px;
            align-items: flex-start;
            &-group{
                width: 25%;
                &__title{
                    height: 45px;
                    font-size: 8px;
                    line-height: 20px;
                    margin-bottom: auto;
                }
                &__element{
                    height: 45px;
                    font-size: 9px;
                    line-height: 24px;
                }
                &--active{
                    background-color: #FFFFFF;
                    width: 100%;
                    margin-right: -75%;
                    margin-left: 0;
                    flex-wrap: wrap;
                    transition: all 0.7s;
                    & .layouts__nav-group__title{
                        color: #A68E52;
                        width: 25%;
                    }
                    & .layouts__nav-group__elements{
                        width: 100%;
                        transition: all 0.7s;
                    }
                    & .layouts__nav-group__element{
                        width: 20%;
                        padding: 0 15px;
                        transition: all 0.7s;
                    }
                }
            }
        }
        &__content{
            padding: 20px 10px 0 10px;
            flex-direction: column;
        }
        &__flat{
            padding: 0 10px 10px 10px;
            align-items: center;
            &-container{
                height: max-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &-content{
                width: 100%;
                justify-content: space-between;

                &-block{
                    flex-direction: column;
                    justify-content: start;

                }
                &:nth-of-type(1){
                    padding-right: 0;
                    border-right: none;
                    border-bottom: 0.5px solid #DDDDDD;
                    padding-bottom: 20px;
                }
                &:nth-of-type(2){
                    margin-top: 10px;
                    padding-left: 0;
                }
            }
            &-plan{
                width: 90%;
                margin-bottom: 10px;
            }
            &-contacts{
                flex-direction: column;
                &__text{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 15px;
                }
                &__phone{
                    padding-left: 0;
                    text-align: center;
                    width: 100%
                }
            }
        }
        &__controls{
            margin-top: 20px;
            padding-left: 10px;
            height: max-content;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-arrow{
                margin-bottom: 20px;
            }
        }
        &__control{
            &-dots{
                margin-bottom: 20px;
                margin-right: 0;
                justify-content: center;
            }
        }
    }
    @for $i from 1 through 3{
        .layouts__nav-group:nth-of-type(#{$i+1}){
            .layouts__nav-group__elements{
                margin-left: ($i+1)*-25%;
                margin-top: 45px;
            }
        }
    }
    .documents{
        margin-left: 0;
        &__title{
            h2{
                font-size: 48px;
                line-height: 48px;
            }
        }
        &__container-text{
            margin-bottom: 25px;
        }
        &__text{
            text-align: center;
            margin-bottom: 15px;
        }
        &__slider{
            padding-left: 40px;
        }
        &__controls{
            justify-content: center;
        }
    }
}

@media(max-width:400px){


}