<header>
  <div id="preloader">
    <div class="loading-text">Loading</div>
  </div>
  <div id="show-scroll" class="show-scroll">
    <svg class="show-scroll__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/></svg>
  </div>
  <div class="nav__top">
    <div class="container">
      <div class="nav__top--wrapper">
        <div class="logo">
          <a href="index.html" class="logo__link">
            <img src="images/logo.png" alt="logo">
          </a>
        </div>
        <div class="burger">
          <div class="burger__icon">
          </div>
          <span class="burger__name">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="nav__main">
    <div class="container">
      <div class="menu__wrapper">
        <nav class="menu__main">
          <ul class="menu__nav">
            <li class="menu__nav--link">
              <a href="index.html">
                <span class="small-number">01.</span>
                HOME
              </a>
            </li>
            <li class="menu__nav--link">
              <a href="about.html">
                <span class="small-number">02.</span>
                ABOUT US
              </a>
            </li>
            <li class="menu__nav--link">
              <a href="portfolio.html">
                <span class="small-number">03.</span>
                PORTFOLIO
              </a>
            </li>
            <li class="menu__nav--link">
              <a href="blog.html">
                <span class="small-number">04.</span>
                BLOG
              </a>
            </li>
            <li class="menu__nav--link">
              <a href="contact.html">
                <span class="small-number">05.</span>
                CONTACT
              </a>
            </li>
          </ul>
        </nav>
        <div class="menu__social">
          <div class="menu__social--item">
            <p>EMAIL:</p>
            <a href="mailto:info@tos.site">info@tos.site</a>
          </div>
          <div class="menu__social--item">
            <p>INSTAGRAM:</p>
            <a href="https://www.instagram.com/tos_corp/">tos_corp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

