<header>
  <div id="preloader">
    <div class="loading-text">Loading</div>
  </div>
  <div class="nav">
    <ul class="nav__ul">
      <li class="nav__li"><a href="#review" class="nav__link"><div class="nav__btn-bg1"><div class="nav__btn-bg2"><button class="nav__btn"></button></div></div><span class="nav__text">Главная</span></a></li>
      <li class="nav__li"><a href="#gallery" class="nav__link"><div class="nav__btn-bg1"><div class="nav__btn-bg2"><button class="nav__btn"></button></div></div><span class="nav__text">ГАЛЕРЕЯ</span></a></li>
      <li class="nav__li"><a href="#layouts" class="nav__link"><div class="nav__btn-bg1"><div class="nav__btn-bg2"><button class="nav__btn"></button></div></div><span class="nav__text">планировки</span></a></li>
      <li class="nav__li"><a href="#documents" class="nav__link"><div class="nav__btn-bg1"><div class="nav__btn-bg2"><button class="nav__btn"></button></div></div><span class="nav__text">документы</span></a></li>
      <li class="nav__li"><a href="#office" class="nav__link"><div class="nav__btn-bg1"><div class="nav__btn-bg2"><button class="nav__btn"></button></div></div><span class="nav__text">контакты</span></a></li>
    </ul>
    <div class="nav__container">
      <svg class="nav__btn-up" width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.12798 1L1.71193 4.37051L5.12798 4.37051L8.54404 4.37051L5.12798 1Z" fill="#A68E52"/>
        <path d="M5.12799 15.3474L5.12798 1M5.12798 1L1.71193 4.37051L8.54404 4.37051L5.12798 1Z" stroke="#A68E52" stroke-width="0.683211"/>
      </svg>
      <svg class="nav__btn-down" width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.12797 14.3474L8.54402 10.9769L5.12797 10.9769L1.71191 10.9769L5.12797 14.3474Z" fill="#757575"/>
        <path d="M5.12797 -2.16955e-05L5.12797 14.3474M5.12797 14.3474L8.54402 10.9769L1.71191 10.9769L5.12797 14.3474Z" stroke="#757575" stroke-width="0.683211"/>
      </svg>
    </div>
  </div>
  
</header>

