@font-face {
	font-family: "titleText";
	src: url("../fonts/zhizn.woff2") format("woff2"),
    url("../fonts/zhizn.woff") format("woff"),
    url("../fonts/zhizn.ttf") format("truetype");
}

@font-face {
	font-family: "mainText";
	src: url("../fonts/cleanvertising-light.woff2") format("woff2"),
    url("../fonts/cleanvertising-light.woff") format("woff"),
    url("../fonts/cleanvertising-light.ttf") format("truetype");
}