@font-face {
	font-family: "titleText";
	src: url("../fonts/zhizn.woff2") format("woff2"),
    url("../fonts/zhizn.woff") format("woff"),
    url("../fonts/zhizn.ttf") format("truetype");
}

@font-face {
	font-family: "mainText";
	src: url("../fonts/cleanvertising-light.woff2") format("woff2"),
    url("../fonts/cleanvertising-light.woff") format("woff"),
    url("../fonts/cleanvertising-light.ttf") format("truetype");
}

@font-face{
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/helveticaneuecyr-medium.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-medium.woff") format("woff"),
    url("../fonts/helveticaneuecyr-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-bold.woff") format("woff"),
    url("../fonts/helveticaneuecyr-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/helveticaneuecyr-heavy.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-heavy.woff") format("woff"),
    url("../fonts/helveticaneuecyr-heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/helveticaneuecyr-black.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-black.woff") format("woff"),
    url("../fonts/helveticaneuecyr-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-roman.woff") format("woff"),
    url("../fonts/helveticaneuecyr-roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/helveticaneuecyr-light.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-light.woff") format("woff"),
    url("../fonts/helveticaneuecyr-light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Medium.woff2") format("woff2"),
    url("../fonts/Cormorant-Medium.woff") format("woff"),
    url("../fonts/Cormorant-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Light.woff2") format("woff2"),
    url("../fonts/Cormorant-Light.woff") format("woff"),
    url("../fonts/Cormorant-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Regular.woff2") format("woff2"),
    url("../fonts/Cormorant-Regular.woff") format("woff"),
    url("../fonts/Cormorant-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Medium.woff2") format("woff2"),
    url("../fonts/Cormorant-Medium.woff") format("woff"),
    url("../fonts/Cormorant-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-SemiBold.woff2") format("woff2"),
    url("../fonts/Cormorant-SemiBold.woff") format("woff"),
    url("../fonts/Cormorant-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Bold.woff2") format("woff2"),
    url("../fonts/Cormorant-Bold.woff") format("woff"),
    url("../fonts/Cormorant-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Bold.woff2") format("woff2"),
    url("../fonts/Cormorant-Bold.woff") format("woff"),
    url("../fonts/Cormorant-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}